# dependencias
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variables de entorno
.env
.env.*
!.env.example

# archivos de sistema
.DS_Store

# cachés
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache

# cobertura
coverage
.nyc_output
*.lcov

# builds comunes
dist
build

# vscode (opcional)
.vscode-test

# archivos de configuración locales
config.js